@model IEnumerable<ProductsUI.Models.AirProduct>

@{
    ViewBag.Title = "Planes";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Activities", "Index", "Activity")</li>
            <li>@Html.ActionLink("Air", "Index", "Air")</li>
            <li>@Html.ActionLink("Cars", "Index", "Car")</li>
            <li>@Html.ActionLink("Hotels", "Index", "Hotel")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Booked", "Index", "Booked")</li>
            <li>@Html.ActionLink("Saved", "Index", "Saved")</li>
        </ul>
    </div>
</nav>

<h2>Planes</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @{ if (item.Booked == false)
                    {
                        @Html.ActionLink("Book", "Book", new { id = item.ID });
                    }
                    else
                    {
                        @Html.ActionLink("Booked", "Book", new { id = item.ID });
                    }
                }

            </td>
            <td>
                @{ if (item.Saved == false)
                    {
                        @Html.ActionLink("Save", "Save", new { id = item.ID });
                    }
                    else
                    {
                        @Html.ActionLink("Saved", "Save", new { id = item.ID });
                    }
                }
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index", "User")
</div>